body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    color: white;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stat, #stat-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    color: black;
}
